@model Aircraft

<tr class="@ViewBag.RowClass @ViewBag.TextClass">
    <td>
        @Html.DisplayFor(modelItem => Model.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.NbFlightsSinceCheckup)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.LastCheckUpDate)
    </td>
    <td>
        @if (Model.NeedsCheckup)
        {
            <a class="btn btn-danger" asp-action="UpdateRevisionDate" asp-route-id=@Model.Id>A été révisé <i class="bi bi-check2"></i></a>
        }
        else
        {
            <span class="text-success">OK</span>    
        }
    </td>
</tr>