@model Flight

<tr class="@ViewBag.RowClass">
    <td>
        @Html.DisplayFor(modelItem => Model.From.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.To.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.TakeOff)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Landing)
    </td>
    <td>
        @if (Model.HasReport)
        {
            <span class="text-danger">Rapport Manquant</span>
            <a class="btn btn-danger" asp-action="Report" asp-route-id=@Model.Id>Compléter<i class="bi bi-x-lg"></i></a>
        }
        else
        {
            <span class="text-success">Voir le rapport</span>
        }
    </td>
</tr>