@model Flight

<tr class="@ViewBag.RowClass">
    <td>
        @Html.DisplayFor(modelItem => Model.From.Location)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.To.Location)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.TakeOff)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Landing)
    </td>
    <td>
        @if (Model.HasReport)
        {
            <a class="btn btn-success" asp-action="SeeReport" asp-route-id=@Model.Id>Voir le rapport <i class="bi bi-eye"></i></a>
        }
        else
        {
            <a class="btn btn-danger" asp-action="Report" asp-route-id=@Model.Id>Compléter <i class="bi bi-pencil"></i></a>
        }
    </td>
</tr>