@model Booking

<tr class="@ViewBag.RowClass">
    <td>
        @Html.DisplayFor(modelItem => Model.Flight.From.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Flight.To.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Flight.Schedule.TakeOff)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Flight.Schedule.Landing)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.SeatsTaken)
    </td>
    <td>
        <a class="btn btn-success" asp-action="Details" asp-route-id=@Model.Id>Voir <i class="bi bi-eye"></i></a>
        @if (!Model.IsPassed)
        {
            <partial name="_CancelModal" model=Model/>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancel-@Model.Id">
                Annuler<i class="bi bi-x-lg"></i>
            </button>
        }
    </td>
</tr>