@using JustInTimeCompany.Models.ViewModels
@model FlightDetailsEditViewModel

<a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i>Retour</a>

@{
    List<SelectListItem> aircrafts = new List<SelectListItem>();

    foreach(var aircraft in Model.Aircrafts)
    {
        aircrafts.Add(new SelectListItem() 
        { 
            Text = aircraft.Model.Name, 
            Value = aircraft.Id.ToString()
        });
    }

    List<SelectListItem> pilots = new List<SelectListItem>();

    foreach(var pilot in Model.Pilots)
    {
        pilots.Add(new SelectListItem() 
        { 
            Text = pilot.FullName, 
            Value = pilot.Id.ToString()
        });
    }
}

<h4>Vol</h4>
<hr/>
<div class="row">
    <div class="card">
      <h5 class="card-header">@Model.Flight.From <i class="bi bi-arrow-right"></i> @Model.Flight.To</h5>
      <div class="card-body">
        <p class="card-text">@Model.Flight.TakeOff <i class="bi bi-arrow-right"></i> @Model.Flight.Landing</p>
        <a href="#" class="btn btn-primary">Modifier</a>
      </div>
    </div>
    <div class="col-md-4">
        <form asp-action="@ViewBag.FormAction" method="post">
            <input type="hidden" asp-for="Flight.Id" /><!-- Afficher les infos en plus -->
            <input type="hidden" asp-for="Flight.TakeOff" />
            <input type="hidden" asp-for="Flight.Landing" />
            <input type="hidden" asp-for="Flight.From" />
            <input type="hidden" asp-for="Flight.To" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Flight.Aircraft" class="control-label"></label>
                @Html.DropDownListFor(model => model.Flight.Aircraft,
                    aircrafts,
                    "Appareils disponibles", new { @class = "form-control" })
                <span asp-validation-for="Flight.Aircraft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.Pilot" class="control-label"></label>
                @Html.DropDownListFor(model => model.Flight.Pilot, 
                    pilots,
                    "Pilotes disponibles", new { @class = "form-control" })
                <span asp-validation-for="Flight.Pilot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewBag.ButtonValue" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
